{% extends 'base.html.twig' %}

{% block title %}
    Biografía
{% endblock %}

{% block body %}

		<!-- BIOGRAFIA-INICIO -->
		<!--about-us start -->
		<section class="about-us">
			<div class="container">
				<div class="about-us-content">
					<div class="row">
						<div class="col-sm-6">
							<div class="single-about-us">
								<div class="about-us-txt">
									<h2>biografía</h2>
									<p>
										Vera Trezoitko (São Paulo, 18 de diciembre de 1929 - 23 de diciembre de 1993) fue una ex jugadora de voleibol y ex atleta brasileña.1​
										Fue seleccionada del conjunto femenino de voleibol de Brasil con el que alcanzó la medalla de bronce en los Juegos Panamericanos de 1955 en Ciudad de México, y la medalla de oro en los Juegos Panamericanos de 1959 en Chicago y en los Juegos Panamericanos de 1963 en São Paulo;2​3​4​ además, estuvo dentro de las atletas brasileñas participantes en el atletismo en los Juegos Panamericanos de 1951 en Buenos Aires, alzándose con la medalla de bronce en lanzamiento de peso.5​6​
										Respecto a su participación en el Campeonato Sudamericano de Voleibol Femenino adulto, logró la medalla de oro en las versiones realizadas en Río de Janeiro 1951, Lima 1961 y Santiago de Chile 1962.7​8​9​10​
										Por otro lado, fue ganadora de la medalla de bronce en el Campeonato Sudamericano de Atletismo adulto de São Paulo 1954 y Montevideo 1958, y medalla de plata en Lima 1961 y Cali 1963, todas en la disciplina lanzamiento de peso. Además, y en el mismo torneo realizado en Lima 1961, se alzó con la medalla de bronce en el lanzamiento de jabalina.
									</p>
									<div class="project-btn">
										<a href="#"  class="project-view">saber más
										</a>
									</div><!--/.project-btn-->
								</div><!--/.about-us-txt-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
						<div class="col-sm-6">
							<div class="single-about-us">
								<div class="about-us-img">
									<img src="assets/images/about/about-part.jpg" alt="about images">
								</div><!--/.about-us-img-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.about-us-content-->
			</div><!--/.container-->

		</section><!--/.about-us-->
		<!--about-us end -->
		<!-- BIOGRAFIA-FIN -->
	
{% endblock %}

