{% extends 'base.html.twig' %}

{% block title %}
    Blog
{% endblock %}

{% block body %}

		<!--BLOG-INICIO -->
		<!--about-part start-->
		<section class="about-part blog-part">
			<div class="container">
				<div class="about-part-details text-center"> 
					<h2>blog</h2>
					{#}
					<div class="about-part-content">
						<div class="breadcrumbs">
							<div class="container">
								<ol class="breadcrumb">
								  <li><a href="index.html">home</a><span>//</span></li>
								  <li><a href="blog.html">blog</a></li>
								</ol><!--/.breadcrumb-->
							</div><!--/.container-->
						</div><!--/.breadcrumbs-->
					</div><!--/.about-part-content-->
					#}
				</div><!--/.about-part-details-->	
			</div><!--/.container-->

		</section><!--/.about-part-->
		<!--about-part end-->
		<!--BLOG-FIN -->	

{% endblock %}