{% extends 'base.html.twig' %}

{% block title %}
    Coaching
{% endblock %}

{% block body %}

		<!-- BIOGRAFIA-INICIO -->
		<!--about-us start -->
		<section class="about-us">
			<div class="container">
				<div class="about-us-content">
					<div class="row">
						<div class="col-sm-6">
							<div class="single-about-us">
								<div class="about-us-txt">
									<h2>coaching</h2>
									<p>https://www.escuelacoaching.com/que-es-coaching-ser-coach/ </p>
                                    <br>
                                    <p>
										¿Qué es el "coaching"?

El coaching profesional consiste en una relación profesional continuada que ayuda a obtener resultados extraordinarios en la vida, profesión, empresa o negocios de las personas. Mediante el proceso de coaching, el cliente profundiza en su conocimiento, aumenta su rendimiento y mejora su calidad de vida.

​​El coaching se basa en el respeto al otro como legítimo otro, dejando espacio para que el otro sea como es. 

Coaching es entrenamiento en habilidades de comunicación y de liderazgo que fomentan el autoconocimiento y el contacto de la persona con su entorno.

Nuestro punto de partida es interpretar a las personas como seres lingüísticos, que se crean a sí mismos a través del lenguaje.

Principios del Coaching

1. Nadie está en posesión de la verdad
La misma realidad puede observarse desde diferentes puntos de vista y llegar a interpretaciones y, por tanto, conclusiones diferentes pero igual de legítimas.

2. Las personas actúan de la mejor manera dentro de sus posibilidades
 El coaching permite el descubrimiento de nuevas maneras de hacer las cosas a partir del cambio de creencias limitantes.

3. Todo individuo lleva un talento que espera ser revelado
El ser humano es completo, no le falta nada. En su interior contiene un enorme potencial que espera ser liberado. El coaching facilita esta liberación. El coachee es autónomo: es quien decide, quien opta y quien, en último término, resuelve.

4. Las personas pueden cambiar
Los hechos no se pueden cambiar, pero sí la interpretación de los hechos: podemos elegir las interpretaciones que les damos. Todo lo que no es genético se puede cambiar.

5. Confidencialidad
Nada de lo que diga el coachee trasciende fuera de las sesiones de coaching, ni de ese entorno seguro.

6. Ser/Hacer
El coaching diferencia lo que HACEMOS de lo que SOMOS. Defiende que somos mucho más de lo que hacemos y que podemos elegir quién SER.
									</p>
									<div class="project-btn">
										<a href="#"  class="project-view">saber más
										</a>
									</div><!--/.project-btn-->
								</div><!--/.about-us-txt-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
						<div class="col-sm-6">
							<div class="single-about-us">
								<div class="about-us-img">
									<img src="assets/images/about/about-part.jpg" alt="about images">
								</div><!--/.about-us-img-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.about-us-content-->
			</div><!--/.container-->

		</section><!--/.about-us-->
		<!--about-us end -->
		<!-- BIOGRAFIA-FIN -->
	
{% endblock %}