{% extends 'base.html.twig' %}

{% block title %}
    Contacto
{% endblock %}

{% block body %}

		<!--CONTACTO-INICIO-->
		<!--contact start-->
		<section  class="contact">
			<div class="container">
				<div class="contact-details">
					<div class="section-header contact-head  text-center">
						<h2>contacte con nosotros</h2>
						<p>
							Para cualquier información no dude en ponerse en contacto con nosotros. Le responderemos a la mayor brevedad posible.							
						</p>
					</div><!--/.section-header-->
					<div class="contact-content">
						<div class="row">
							<div class="col-sm-offset-1 col-sm-5">
								<div class="single-contact-box">
									<div class="contact-right">
										<div class="contact-adress">
											<div class="contact-office-address">
												<h3>Información de contacto</h3>
												<p>
													125, Park street avenue, Brocklyn, Newyork.
												</p>
												<div class="contact-online-address">
													<div class="single-online-address">
														<i class="fa fa-phone"></i>
														+11253678958
													</div><!--/.single-online-address-->
													
													<div class="single-online-address">
														<i class="fa fa-envelope-o"></i>
														<span>info@mail.com</span>
													</div><!--/.single-online-address-->
												</div><!--/.contact-online-address-->
											</div><!--/.contact-office-address-->
											<div class="contact-office-address">
												<h3>Redes sociales</h3>
												<div class="contact-icon">
													<ul>
														<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li><!--/li-->
														<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li><!--/li-->
														<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li><!--/li-->
														<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li><!--/li-->
													</ul><!--/ul-->
												</div><!--/.contact-icon-->
											</div><!--/.contact-office-address-->
											
										</div><!--/.contact-address-->
									</div><!--/.contact-right-->
								</div><!--/.single-contact-box-->
							</div><!--/.col-->
							<div class="col-sm-5">
								<div class="single-contact-box">
									<div class="contact-form">
										<h3>Deje su mensaje aquí</h3>
										<form>
											<div class="row">
												<div class="col-sm-6 col-xs-12">
													<div class="form-group">
													  <input type="text" class="form-control" id="firstname" placeholder="Nombre" name="firstname">
													</div><!--/.form-group-->
												</div><!--/.col-->
												<div class="col-sm-6 col-xs-12">
													<div class="form-group">
													  <input type="text" class="form-control" id="lastname" placeholder="Apellido" name="laststname">
													</div><!--/.form-group-->
												</div><!--/.col-->
											</div><!--/.row-->
											<div class="row">
												<div class="col-sm-6 col-xs-12">
													<div class="form-group">
														<input type="email" class="form-control" id="email" placeholder="Email" name="email">
													</div><!--/.form-group-->
												</div><!--/.col-->
												<div class="col-sm-6 col-xs-12">
													<div class="form-group">
														<input type="text" class="form-control" id="phone" placeholder="Teléfono" name="phone">
													</div><!--/.form-group-->
												</div><!--/.col-->
											</div><!--/.row-->
											<div class="row">
												<div class="col-sm-12">
													<div class="form-group">
														<textarea class="form-control" rows="7" id="comment" placeholder="Mensaje" ></textarea>
													</div><!--/.form-group-->
												</div><!--/.col-->
											</div><!--/.row-->
											<div class="row">
												<div class="col-sm-12">
													<div class="single-contact-btn pull-right">
														<button class="contact-btn" type="button">enviar mensaje</button>
													</div><!--/.single-single-contact-btn-->
												</div><!--/.col-->
											</div><!--/.row-->
										</form><!--/form-->
									</div><!--/.contact-form-->
								</div><!--/.single-contact-box-->
							</div><!--/.col-->
						</div><!--/.row-->
					</div><!--/.contact-content-->
				</div><!--/.contact-details-->
			</div><!--/.container-->

		</section><!--/.contact-->
		<!--CONTACTO-FIN-->

{% endblock %}