{% extends 'base.html.twig' %}

{% block title %}
    Servicios
{% endblock %}

{% block body %}


		<!-- SERVICIOS-INICIO -->
		<!--service start-->
		<section  class="service">
				<div class="container">
					<div class="service-details">
						<div class="section-header text-center">
							<h2>nuestros servicios</h2>							
						
						</div><!--/.section-header-->
						<div class="service-content-one">
							<div class="row">
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service1.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">servicios de coaching para empresas/particulares</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<a href="#" class="service-btn">
												saber más
											</a>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service2.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">coaching online</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<a href="#" class="service-btn">
												saber más
											</a>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service3.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">coaching presencial</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<a href="#" class="service-btn">
												saber más
											</a>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
							</div><!--/.row-->
						</div><!--/.service-content-one-->
						<div class="service-content-two">
							<div class="row">

								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service4.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">formación y talleres de coaching</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<a href="#" class="service-btn">
												saber más
											</a>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->

								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service5.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">coaching individual</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<a href="#" class="service-btn">
												saber más
											</a>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->

								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service6.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">coaching de pareja</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<a href="#" class="service-btn">
												saber más
											</a>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->	
                        </div>	

                        <div class="service-content-three">
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service6.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">coaching de grupo</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<a href="#" class="service-btn">
												saber más
											</a>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->

								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service6.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">orientación profesional</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<a href="#" class="service-btn">
												saber más
											</a>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->

								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service6.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">coaching familiar</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<a href="#" class="service-btn">
												saber más
											</a>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
                        </div>	
                        						
                        <div class="service-content-four">
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service6.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">conferencias</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<a href="#" class="service-btn">
												saber más
											</a>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->

							</div><!--/.row-->
						</div><!--/.service-content-two-->
					</div><!--/.service-details-->
				</div><!--/.container-->

		</section><!--/.service-->
		<!--service end-->
		<!-- SERVICIOS-FIN -->

<!--PRECIOS-INICIO -->
		<!--pricing start -->
		<section id="pricing" class="pricing">
			<div class="container">
				<div class="pricing-details">
					<div class="section-header text-center">
						<h2 class="price-head">tabla de precios</h2>
						<p>
							Pida presupuestso sin ningún tipo de compromiso.							
						</p>
					</div><!--/.section-header-->
					<div class="pricing-content">
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="pricing-box">
									<div class="pricing-header">
										<h2>basic</h2>
										<h3 class="packeg_p"><span>$</span>99</h3>
										<p>monthly</p>
									</div><!--/.pricing-header-->
									<ul class="plan-lists">
										<li>01 user</li>
										<li>01 project</li>
										<li>01 advisor team</li>
										<li>complete statistics</li>
										<li>E-Mail support</li>
									</ul><!--/ul-->
									
									<div class="project-btn pricing-btn text-center">
										<a href="project.html"  class="project-view">
											Sign Up Now
										</a>
									</div><!--/.project-btn-->
								</div><!--/.pricing-box-->
							</div><!--/.col-->

							<div class="col-md-3 col-sm-6">
								<div class="pricing-box">
									<div class="pricing-header">
										<h2>standard</h2>
										<h3 class="packeg_p"><span>$</span>299</h3>
										<p>monthly</p>
									</div><!--/.pricing-header-->
									<ul class="plan-lists">
										<li>05 user</li>
										<li>05 project</li>
										<li>05 advisor team</li>
										<li>complete statistics</li>
										<li>full support</li>
									</ul><!--/ul-->
									
									<div class="project-btn pricing-btn text-center">
										<a href="project.html"  class="project-view">
											Sign Up Now
										</a>
									</div><!--/.project-btn-->
								</div><!--/.pricing-box-->
							</div><!--/.col-->

							<div class="col-md-3 col-sm-6">
								<div class="pricing-box">
									<div class="pricing-header">
										<h2>advanced</h2>
										<h3 class="packeg_p"><span>$</span>499</h3>
										<p>monthly</p>
									</div><!--/.pricing-header-->
									<ul class="plan-lists">
										<li>10 user</li>
										<li>10 project</li>
										<li>10 advisor team</li>
										<li>complete statistics</li>
										<li>full support</li>
									</ul><!--/ul-->
									
									<div class="project-btn pricing-btn text-center">
										<a href="project.html"  class="project-view">
											Sign Up Now
										</a>
									</div><!--/.project-btn-->
								</div><!--/.pricing-box-->
							</div><!--/.col-->

							<div class="col-md-3 col-sm-6">
								<div class="pricing-box">
									<div class="pricing-header">
										<h2>unlimited</h2>
										<h3 class="packeg_p"><span>$</span>1099</h3>
										<p>monthly</p>
									</div><!--/.pricing-header-->
									<ul class="plan-lists">
										<li>unlimited user</li>
										<li>unlimited project</li>
										<li>unlimited advisor team</li>
										<li>complete statistics</li>
										<li>full support</li>
									</ul><!--/ul-->
									
									<div class="project-btn pricing-btn text-center">
										<a href="project.html"  class="project-view">
											Sign Up Now
										</a>
									</div><!--/.project-btn-->
								</div><!--/.pricing-box-->
							</div><!--/.col-->

						</div><!--/.row-->
					</div><!--/.pricing-content-->
				</div><!--/.pricing-details-->
			</div><!--/.container-->

		</section><!--/.pricing-->
		<!--pricing end-->
		<!--PRECIOS-FIN -->

{% endblock %}