{% extends 'base.html.twig' %}

{% block title %}
    Testimonios
{% endblock %}

{% block body %}

		<!-- TESTIMONIOS-INICIO -->
		<!-- testemonial Start -->
		<section   class="testemonial">
			<div class="container">
				<div class="section-header text-center">
					<h2>
						<span>
							lo que dicen nuestros clientes de nosotros 
						</span>
					</h2>
				</div><!--/.section-header-->
				<div class="owl-carousel owl-theme" id="testemonial-carousel">
					<div class="home1-testm item">
						<div class="home1-testm-single text-center">
							<div class="home1-testm-img">
								<img src="assets/images/client/testimonial1.jpg" alt="img"/>
							</div><!--/.home1-testm-img-->
							<div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
								<p>
									«Margot Pereira ha incorporado técnicas procedentes del deporte al mundo del coaching»									
								</p>
								<h3>
									<a href="#">
										kevin watson
									</a>
								</h3>
								<h4>CEO, Kingston</h4>
							</div><!--/.home1-testm-txt-->	
						</div><!--/.home1-testm-single-->
					</div><!--/.item-->
					<div class="home1-testm item">
						<div class="home1-testm-single text-center">
							<div class="home1-testm-img">
								<img src="assets/images/client/testimonial2.jpg" alt="img"/>
							</div><!--/.home1-testm-img-->
							<div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
								<p>
									«Gracias a esta coach conseguí deshacerme de los malos hábitos que lastraban mi vida»						
								</p>
								<h3>
									<a href="#">
										Jean Pierre Leblanc
									</a>
								</h3>
								<h4>CEO, Coca-cola</h4>
							</div><!--/.home1-testm-txt-->	
						</div><!--/.home1-testm-single-->
					</div><!--/.item-->
					<div class="home1-testm item">
						<div class="home1-testm-single text-center">
							<div class="home1-testm-img">
								<img src="assets/images/client/testimonial1.jpg" alt="img"/>
							</div><!--/.home1-testm-img-->
							<div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
								<p>
									«Empecé yendo yo solo y al final acabó yendo toda la plantilla. Ahora sí que somos un equipo»									
								</p>
								<h3>
									<a href="#">
										Luis Fernández
									</a>
								</h3>
								<h4>Jefe de personal, Sugus Co.</h4>
							</div><!--/.home1-testm-txt-->	
						</div><!--/.home1-testm-single-->
					</div><!--/.item-->
				</div><!--/.testemonial-carousel-->
			</div><!--/.container-->

		</section><!--/.testimonial-->	
		<!-- testemonial End -->
		<!-- TESTIMONIOS-FIN -->

{% endblock %}